name: Ruby CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'README.rdoc'
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'README.rdoc'
jobs:
  test:
    runs-on: ubuntu-latest
    if: "contains(github.event.commits[0].message, '[ci skip]') == false"

    strategy:
      matrix:
        ruby: [3.4.1, 3.3.6, 3.2.6, 2.7.8]

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Test
        run: bundle exec rake spec
